In [1]:
import json, pandas as pd

In [2]:
data = json.load(open("experiments/Mistral-7B-instruct-v0.3-simpleqa.json", "r"))

In [3]:
df = pd.DataFrame(data)

In [4]:
df.head()

,metadata,problem,answer,model_name,timestamp,verification,falsification,evaluation
0,"{'topic': 'Science and technology', 'answer_ty...",Who received the IEEE Frank Rosenblatt Award i...,Michio Sugeno,mistralai/Mistral-7B-Instruct-v0.3,2025-01-23T06:43:23.018503+00:00,\nReasoning:\n1. The question asks for the rec...,\nReasoning steps:\n1. The question asks for t...,t
1,"{'topic': 'Science and technology', 'answer_ty...",Who was awarded the Oceanography Society's Jer...,Annick Bricaud,mistralai/Mistral-7B-Instruct-v0.3,2025-01-23T06:43:23.247770+00:00,\nReasoning:\n1. The question asks for the nam...,\nReasoning steps:\n1. The question asks for t...,t
2,"{'topic': 'Geography', 'answer_type': 'Place',...",What's the name of the women's liberal arts co...,Radcliffe College,mistralai/Mistral-7B-Instruct-v0.3,2025-01-23T06:43:23.471721+00:00,\nReasoning steps:\n1. The question asks for t...,\nReasoning steps:\n1. The question asks for t...,b
3,"{'topic': 'Sports', 'answer_type': 'Person', '...",In whose honor was the Leipzig 1877 tournament...,Adolf Anderssen,mistralai/Mistral-7B-Instruct-v0.3,2025-01-23T06:43:23.699156+00:00,\nReasoning steps:\n1. The question asks for t...,\nReasoning steps:\n1. The question asks for t...,t
4,"{'topic': 'Art', 'answer_type': 'Person', 'url...","According to Karl Küchler, what did Empress El...",Poet Henrich Heine.,mistralai/Mistral-7B-Instruct-v0.3,2025-01-23T06:43:23.934805+00:00,\nReasoning steps:\n1. The question asks about...,\nReasoning steps:\n1. The question asks about...,n

In [5]:
df['evaluation'].value_counts()

evaluation
t    2693
n     835
f     400
b     241
Name: count, dtype: int64

In [6]:
df['evaluation'].value_counts().sum()

4169

In [7]:
len(df)

4326

In [8]:
df_music = df[df['metadata'].apply(lambda x: x["topic"] == "Music")]

In [9]:
df_music['evaluation'].value_counts()

evaluation
t    210
n     64
f     35
b     26
Name: count, dtype: int64

In [10]:
len(df_music)

341